<div class="footer-container">
    {% if page.footer %}
        <footer class="footer" role="contentinfo">
            <div class="sn-container">
                {{ page.footer }}
                <a href="http://www.paulantezana.com" target="_blanck" title="contador de visitas com"><img src="https://counter8.freecounter.ovh/private/contadorvisitasgratis.php?c=u6gn2pszljp5cnd5wktc59pb3xwj4rrs" border="0" title="contador de visitas com" alt="contador de visitas com"></a>
            </div>
        </footer>
    {% endif %}
</div>