<div class="footer-container">
        <footer class="footer" role="contentinfo">
            {% if page.footer %}
            <div class="sn-container footer__content">
                    {{ page.footer }}
            </div>
            {% endif %}
            <div class="sn-container footer__credentials">
                <div class="sn-item s-100 m-50 cross-center"> 
                    <div id="sfcsng68b5tem78dcwezsrtlf9f8wg43jx3"></div>
                    <script type="text/javascript" src="https://counter9.whocame.ovh/private/counter.js?c=sng68b5tem78dcwezsrtlf9f8wg43jx3&down=async" async></script>
                    <noscript><a href="https://www.contadorvisitasgratis.com" title="contador de visitas para mi pagina web"><img src="https://counter9.whocame.ovh/private/contadorvisitasgratis.php?c=sng68b5tem78dcwezsrtlf9f8wg43jx3" border="0" title="contador de visitas para mi pagina web" alt="contador de visitas para mi pagina web"></a></noscript>
                </div>
                <div class="sn-item s-100 m-50 cross-center main-end"> 
                    Computación en informática
                </div>
            </div>
        </footer>
</div>