<header class="header">
    <div class="header__social top_bar">
        <div class="sn-container main-justify cross-center">
            <ul class="social-media">
                <li><a href="http://facebook.com" target="_blank" class="icon-facebook social-media__link"></a></li>
                <li><a href="http://vimeo.com" target="_blank" class="icon-vimeo social-media__link"></a></li>
                <li><a href="http://youtube.com" target="_blank" class="icon-youtube social-media__link"></a></li>
                <li><a href="http://twitter.com" target="_blank" class="icon-twitter social-media__link"></a></li>
                {# <li><a href="" class="icon_mail social-media__adress" >+1 (800) 5260 888 52 63</a></li> #}
                <li><a href="mailto:contacto@computacioniestpvilcanota.com" class="icon_mail social-media__adress">contacto@computacioniestpvilcanota.com</a></li>
            </ul>
            <a href="https://goo.gl/maps/Vkxw3cQzYV22" class="icon-location" target="_blank">Sicuani - Cusco - Peru</a>
        </div>
    </div>
    <div class="header__menu">
        <div class="sn-container main-justify cross-center">
            {{ page.primary_menu }}
        </div>
    </div>
</header>
<div>
    <img src="themes/custom/computacion/assets/banner.jpg"/>
</div>
