<header class="header">
    <div class="header__social top-bar">
        <div class="sn-container main-justify cross-center top-bar__content">
            <ul class="sn-item s-100 top-bar__content__social main-center cross-center">
                <li><a href="https://www.facebook.com/Computacion-E-Informatica-Iestp-Vilcanota-420012958179247/?ref=br_rs" target="_blank" class="icon-facebook"></a></li>
                <li><a href="http://vimeo.com" target="_blank" class="icon-vimeo"></a></li>
                <li><a href="https://www.youtube.com/channel/UCATdZM9Ve0-qfp0_K5zPlZQ" target="_blank" class="icon-youtube"></a></li>
                <li><a href="http://twitter.com" target="_blank" class="icon-twitter"></a></li>
            </ul>
        </div>
    </div>
    <div class="header__menu">
        <div class="sn-container main-justify cross-center">
            {{ page.primary_menu }}
        </div>
    </div>
</header>

<div class="full news-container" >
    <div class="sn-container main-center">
        {{ page.news }}
    </div>
</div>
