.front-1{
    background: $white;
}

.front-2{
    background: #F7F9FB;
    .views-field-title{
        a{
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}

.front-3{
    background: $white;
}


.front-4{
    background: url('/themes/custom/computacion/assets/unsplashcomputer.jpg');
    background-attachment: fixed;
    position: relative;
    &::before{
        content: "";
        width: 100%;
        top: 0;
        height: 100%;
        position: absolute;
        background: rgba(9, 23, 37, 0.7);
    }
    .sn-container{
        position: relative;
        z-index: 10;
        color: white;
        a{
            color: inherit;
            font-size: 1rem;
        }
    }




    .views-field-field-poster{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            border-radius: 100%;
            width: 7rem;
            height: 7rem;
        }
    }
    .views-field-title{
        margin-top: .5rem;
        margin-bottom: .5rem;
        text-align: center;
    }
}


.front-5{
    background: $white;
    box-shadow: 30px 0 $white,
                -30px 0 $white;
}

.front-region{
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include from(l){
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    & > .sn-container{
        .views-element-container{
            width: 100%;
        }
    }
}


// Decoration
.front-region {
    .views-element-container{
        & > h2{
            text-align: center;
            margin-bottom: 3rem;
            font-size: 2rem;
        }
    }
}