.header{
    padding: 0;
    border-bottom: #ebedef;
    
    z-index: 9999;
    width: 100%;
    background: $white;

    &__social{
      //background: #f5f6f8;
      border-bottom: 1px solid #ebedef;
      max-height: 200px;
      overflow: hidden;
    }

    &__menu{
      position: relative;
    }

    color: #848994;
    a{
      color: inherit;
    }
}


@import "top.scss";
@import "menu.scss";
@import "title";