.header{
    padding: 0;
    border-bottom: 1px solid shade(grey-lighter);
    z-index: 9999;
    width: 100%;
    background: $white;
    color: shade(grey-dark);
    &__social{
      //background: #f5f6f8;
      border-bottom: 1px solid #ebedef;
      max-height: 200px;
      overflow: hidden;
    }

    &__menu{
      position: relative;
    }
    a{
      color: inherit;
    }
    .branding__item{
      img{
        height: 3rem;
      }
    }
}


@import "top";
@import "menu";
@import "title";
@import "news";