@include sn-menu();


.main-menu{
    a{
        font-family: Lato;
        text-transform: uppercase;
    }
    & > li > a{
        line-height: 5rem;
        &:hover{
            color: color(color);
            // background: shade(white-bis);
        }
    }
}
