@include sn-menu();


.main-menu{
    a{
        font-family: Lato;
    }
    & > li > a{
        line-height: 4rem;
        
        &:hover{
            color: color(color);
            // background: shade(white-bis);
        }
    }
}
