.news-container{
    background: #0181ef;
    color: shade(white-ter);
    p {
        text-align: center;
        margin: 0.8em 0;
    }
    .news-timer{
        color: color(inverse);
        font-weight: bold;
    }
}