.site-title{
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-size: 1.7rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    color: color(color);
    span{
        color: inherit;
    }
}
.site-header{
    margin: 3rem 0;
}