<ul class="socialMedia">
    <li class="socialMedia__item"><a class="socialMedia__link icon-facebook" href="https://www.facebook.com" target="_blanck"></a></li>
    <li class="socialMedia__item"><a class="socialMedia__link icon-youtube" href="https://www.youtube.com" target="_blanck"></a></li>
    <li class="socialMedia__item"><a class="socialMedia__link icon-twitter" href="https://twitter.com" target="_blanck"></a></li>
    <li class="socialMedia__item"><a class="socialMedia__link icon-email" href="mailto:contacto@computacioniestpvilcanota.com"></a></li>
    {#<li class="socialMedia__item"><a class="socialMedia__link icon-github" href="https://github.com" target="_blanck"></a></li>#}
    {#<li class="socialMedia__item"><a class="socialMedia__link icon-whatsapp" href="tel:941252889"></a></li>#}
</ul>