<div class="layout-container">
    {% include directory ~ '/partials/header.html.twig' %}

    {# ==================== Main ==================== #}
    <div class="main-container">
        <main class="main sn-container" role="main">
            <div>
                {{ page.content }}
            </div>
            <div>
                {{ page.carrera_firts }}
            </div>
            {# <div>
                {{ page.carrera_second }}
            </div>
            <div>
                {{ page.carrera_third }}
            </div> #}
        </main>
    </div>
    {% include directory ~ '/partials/footer.html.twig' %}
</div>